fastapi==0.112.2



plotly==5.22.0
plotly-express==0.4.1

scipy==1.11.4

streamlit==1.36.0
streamlit-option-menu==0.3.13

uvicorn==0.30.6
gunicorn==23.0.0
portalocker== 2.10.1

waitress==3.0.0

pywin32 == 306
